<ion-header>
  <ion-navbar>
    <ion-title>
      Redirect Task 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>URL</ion-label>
      <ion-input type="url" [(ngModel)]="urlValue"></ion-input>
    </ion-item>
      <p ng-show="showInvalideUrlMessage">{{invalideUrlMessage}}</p>
    <ion-item>
      <ion-label>Use URL from server</ion-label>
      <ion-checkbox [(ngModel)]="redirectVal"></ion-checkbox>
    </ion-item>
    <ion-item>
      <button ion-button round color="dark" (click)="onClickSubmit()">{{redirectVal ? 'Submit' : 'Redirect'}}</button>
    </ion-item>
  </ion-list>
</ion-content>
